.text_box{
  margin-top: 2.5%;
  background-color: powderblue;
  overflow: visible;
  margin-bottom: 0%;
  border-radius: 4%/10%;
}
.text_box2{
  margin-top: 2.5%;
  background-color: rgb(255, 143, 143);
  overflow: visible;
  margin-bottom: 0%;
  border-radius: 4%/10%;
}
.text_box3{
  margin-top: 2.5%;
  background-color: rgb(192, 236, 111);
  overflow: visible;
  margin-bottom: 0%;
  border-radius: 4%/10%;
}
.text_box4{
  margin-top: 2.5%;
  background-color: rgb(199, 102, 199);
  overflow: visible;
  margin-bottom: 0%;
  border-radius: 4%/10%;
}

a{
  color: black;
}
a:hover{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
.menu{
  top: 0;
  position: sticky;
  z-index: 99;
  padding-bottom: -1%;
}
.menu_break{
  border-style: solid;
  border-width: 1%;
  border-color: black;
  margin-top: 4.3%;
}
.menu_buttons{
  text-align: center;
}
.menu_1{
  background-color: #040CEE;
}
.menu_2{
  background-color: #2D34EF;
}
.menu_3{
  background-color: #3A40EF;
}
.menu_4{
  background-color: #484DEF;
}
.sender{
  margin-top: 5px;
  margin-bottom: -3%;
}
.reply{
  margin-left: 73%;
  border-style: hidden;
  margin-bottom: 3%;
  padding-bottom: 2%;
  border-radius: 6%/30%;
}
input:focus {
  outline:none;
}
.first_row{
  margin-top: -1%;
}
.sign_in{
  border-style: none;
  margin-left: 93%;
  position: absolute;
  margin-top: 2.1%;
  background-color: #F2BA66;
  border-radius: 11%/30%;
}
.top_image{
  height: 131px;
  margin-top: -3%;
}
.new_post{
  border-style: none;
  background-color: #F2BA66;
  border-radius: 7%/20%;
  margin-left: 83.1%;
  z-index: 94;
  width: 7.5%;
  margin-top: 0.9%;
  height: 25px;
}
.plus_sign{
  z-index: 95;
  display: inline-block;
  margin-top: -0.05%;
  position: absolute;
}
.new_post_text{
  display: inline-block;
  margin-left: 15%;
  margin-top: 1.5%;
  z-index: 94;
}

.pimg{

    height:100%;
    margin: 0px;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
    padding: 0px;
}

.inputs{
  margin-left: 10%;
  margin-bottom: 10%;
  font-size: 110%;
}
.text_box1{
  border-radius: 10%/30%;
  border-style: solid;
  margin-bottom: 2%;
}
.submit_button{
  background-color: powderblue;
  border-style: none;
  border-radius: 10%/20%;
}
